@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	font-family: 'Montserrat';
	padding: 0;
	margin: 0;
}

.material-symbols-outlined,
.material-symbols-sharp,
.material-symbols-rounded,
img {
	user-select: none;
	-webkit-user-drag: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

.sidebarwrap {
	position: fixed;
	background-color: black;
	top: 0px;
	bottom: 90px;
	left: 0;
	width: 150px;
	padding: 20px 10px;
}

.sidebar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar img {
	width: 130px;
}

body {
	/* background: rgb(25, 25, 25); */
	color: white;
	background-image: linear-gradient(rgb(25, 25, 25), rgb(25, 25, 25),  rgb(25, 25, 25), rgb(25, 25, 25), rgb(25, 25, 25), rgb(25, 25, 25), rgb(25, 25, 25));
	margin-bottom: 160px;
	overflow-x: hidden;
	position: relative;
}

.toplayer {
	position: absolute;
	top: -100px;
	left: 0px;
	right: 0px;
	height: 400px;
	width: 100%;
	background: rgb(25, 25, 25, 0.750);
	z-index: -1;
}


main {
	padding: 0px 26px;
	margin-left: 170px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 26px;
	position: fixed;
	margin-left: 170px;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 16;
	background: transparent;
}

#backforwardnav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#albumimgcard {
	display: none;
	position: absolute;
	top: -198px;
	left: -14px;
}

#albumimgcard img {
	width: 170px;
}

#uparrowalbum,
#downarrowalbum,
#hfnav,
#hbnav {
	cursor: not-allowed;
	width: 30px;
	height: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2px;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
}

#hfnav span,
#hbnav span {
	font-size: 18px;

}

#hbnav span {
	margin-left: 8px;
}

#hfnav {
	margin-left: 12px;
}

#uparrowalbum,
#downarrowalbum {
	transform: rotate(90deg);
	position: absolute;
	top: 10px;
	right: 10px;
	width: 26px;
	height: 26px;
	display: none;
	cursor: pointer;
}

#uparrowalbum {
	transform: rotate(270deg);
	width: 18px;
	height: 18px;
	top: 5px;
	right: 5px;
}

#downarrowalbum span {
	font-size: 18px;
}

#uparrowalbum span {
	font-size: 12px;
}

.coverpic:hover #uparrowalbum {
	display: flex;
}

#albumimgcard:hover #downarrowalbum {
	display: flex;
}

#headerpmenuwrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgb(0, 0, 0);
	padding: 4px;
	border-radius: 40px;
	text-align: center;
	cursor: pointer;
}

.headerpmenu {
	display: flex;
	align-items: center;
}

.headerpmenu img {
	width: 30px;
	border-radius: 15px;
	margin: 0px 6px;
}

.hpname {
	margin: 0px 6px;
	font-weight: 600;
	font-size: 14px;
}

.playlists {
	margin: 40px 0px;
	z-index: 10;
}

#playlistscroll::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.wplaylists {
	margin-top: 100px;
}

#playlistscroll {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: scroll;
}

.wplaylistscroll {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.wish {
	font-size: 22px;
	font-weight: 700;
	margin: 30px 0px;
	z-index: 6;
}

.playlistcard {
	display: flex;
	flex-direction: column;
	align-content: center;
	position: relative;
	padding: 16px;
	cursor: pointer;
	
	width: 180px;
	height: 280px;
	box-shadow: 0px 0px 6px rgba(24, 24, 24, 0.3);
	background-color: rgb(30, 30, 30);
	border-radius: 10px;
	margin-right: 26px;
	transition: .5s;
}

.playlistimg {
	width: 180px;
	border-radius: 6px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
}

.abplaylistimg {
	width: 46px;
	border-radius: 4px;
	position: absolute;
	left: 12px;
	bottom: 110px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.playlistname {
	margin: 18px 0px;
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 15px;
}

.playlistdetails {
	color: rgba(255, 255, 255, 0.8);
	font-size: 13px;
	line-height: 22px;
	width: 180px;
}

.playlistcard:hover {
	background-color: rgba(146, 146, 146, 0.2);
	transition: .4s;
}

.playlistplaybtn {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: rgb(30, 215, 96);
	font-size: 32px;
	position: absolute;
	outline: none;
	border: none;
	bottom: 95px;
	right: 30px;
	opacity: 0;
	cursor: default;
}

.playlistcard:hover .playlistplaybtn {
	opacity: 1;
	transition: .3s;
	bottom: 130px;
	right: 30px;
}

.looo {
	background-color: rgb(23, 172, 75);
	background-color: rgb(225, 109, 120);
}

.playlistplaybtn:hover {
	width: 50px;
	height: 50px;
	transition: none;
}



.wplaylistcardwrap {
	display: flex;
	flex-direction: row;
}

#polpodyell,
#ecopodred {
	margin-right: 0px;
}

.wwish {
	font-size: 28px;
	margin: 0px;
	z-index: 10;
}


.wish,
.wwish {
	white-space: nowrap;
}

.wplaylistcard {
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	height: 76px;
	border-radius: 5px;
	flex-grow: 1;
	max-width: 360px;
	padding: 0px;
	margin-bottom: 16px;
	background-color: rgba(255, 255, 255, 0.071);
}

.opapwplaylistcardwrap {
	display: none;
}

.wplaylistimg {
	width: auto;
	height: 100%;
	border-radius: 0px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	box-shadow: 8px 0px 4px rgba(0, 0, 0, 0.2);
}

.wplaylistname {
	margin: 0px;
	margin-left: 16px;
}

.wplaylistplaybtn {
	position: absolute;
	top: 18px;
	left: 286px;
	
}

.wplaylistcard:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.wplaylistcard:hover .wplaylistplaybtn {
	position: absolute;
	opacity: 1;
	transition: .3s;
	top: 18px;
	left: 286px;
}

.artistimg {
	border-radius: 800px
}

.artistscard {
	height: 260px;
}

#desktopfooter {
	position: fixed;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	width: 100%;
	height: 60px;
	padding: 14px;
	background-color: rgb(24, 24, 24);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.albumsongdetails {
	display: flex;
	align-items: center;
	position: relative;
}

.coverpic {
	display: flex;
	align-items: center;
	margin-right: 14px;
	position: relative;
}

.coverpic img{
	width: 60px;
}

.songnameartist {
	display: flex;
	flex-direction: column;
	margin-right: 28px;
}

.songname {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 2px;
}

.songartist {
	font-size: 11px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
}

#playbardesk-fav,
#playbardesk-pip {
	font-size: 22px;
	font-weight: 500;
	margin-right: 10px
}

.playcontrols {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.maincontrols {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

#playbardesk-shuffle,
#playbardesk-prev,
#playbardesk-pause,
#playbardesk-next,
#playbardesk-repeat {
	font-size: 26px;
	margin: 0px 10px;
	font-weight: 500;
}

#playbardesk-shuffle,
#playbardesk-repeat {
	font-size: 24px;
}

#playbardesk-prev,
#playbardesk-next {
	color: rgba(255, 255, 255, 0.869);
	font-weight: 600;
}

#playbardesk-pause {
	background-color: white;
	color: black;
	font-weight: 500;
	padding: 4px;
	border-radius: 50px;
}



.songdurationbar {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 3px;
}

.timedone,
.timetotal {
	font-size: 13px;
	margin: 0px 10px;
}


.timetotalbar {
	position: relative;
	width: 420px;
	height: 4px;
	border-radius: 3px;
	background-color: rgb(123, 123, 123);
}

.timedonebar {
	position: absolute;
	width: 180px;
	height: 4px;
	top: 0px;
	left: 0px;
	border-radius: 3px;
	background-color: rgb(232, 232, 232);
	z-index: 10;
}

.songenvcontrols {
	display: flex;
	align-items: center;
	margin-right: 26px;
}

#playbardesk-mic,
#playbardesk-queue,
#playbardesk-devices,
#playbardesk-volm,
#playbardesk-pinch {
	font-size: 21px;
	margin: 6px;
	font-weight: 500;
}

#mobilefooter {
	display: none;
	flex-direction: column;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
	background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.7), rgba(0,0,0,0.9), rgba(0,0,0,0.9), rgba(0,0,0,0.9), rgba(0,0,0,1), rgba(0,0,0,1));
}



.playbarmobile {
	display: flex;
	align-items: center;
	height: 46px;
	border-radius: 7px;
	padding: 8px;
	width: auto;
	margin: 0px 10px;
	position: relative;
	margin-bottom: 4px;
	background-color: rgba(60,56,92, 1);
}

.songimg {
	display: flex;
	align-items: center;
}

.songimg img {
	width: 46px;
	border-radius: 6px;
}

.artistnamesong {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-left: 14px;
}

.songnamem {
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 3px;
}

.artistnamem {
	font-size: 12px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.832);
}

.playbarcontrols {
	display: flex;
	align-items: center;
}


#devicesm,
#favm,
#playm {
	font-size: 24px;
	margin: 0px 8px;
}

#playm {
	font-size: 32px;
	margin: 0px 2px;
}

.progressbartotal {
	position: absolute;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.5);
	bottom: 0;
	width: 96%;
	border-radius: 3px;
}

.progressbardone {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.8);
	bottom: 0;
	width: 20%;
}

.footernav {
	display: flex;
	justify-content: space-evenly;
	padding: 10px 14px;
}

.homenav,
.searchnav,
.libnav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homenavm,
.searchnavm,
.libnavm {
	font-size: 28px;
	font-size: 500;
	margin-bottom: 4px;
}

.hometextm,
.searchtextm,
.libtextm {
	font-size: 14px;
	font-weight: 500;
}

.searchnavm,
.libnavm,
.searchtextm,
.libtextm {
	color: rgba(255, 255, 255, 0.75);
}

.buttonsmheader {
	display: none;
}

.wwishwrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0px 18px;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 0px;
}
.btnheadm {
	font-size: 23px;
	margin: 0px 6px;
	position: relative;
}
#notimhead div {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: blue;
	border-radius: 5px;
	top: -2px;
	left: 0px;
}



@media (max-width: 1030px) {
	.songenvcontrols {
		display: none;
	}
	#desktopfooter {
		justify-content: space-between;
	}
	.timetotalbar {
		width: 300px;
	}
	.timedonebar {
		width: 90px;
	}
	.playcontrols {
		margin-right: 50px;
	}
	.wwish {
		margin: 0px ;
	}
	.wplaylistcard {
		height: 66px;
	}
	.wplaylistname {
		font-size: 14px;
	}
	#polpodyell,
	#ecopodred {
		display: none;
	}
	#olplaypink,
	#poprockred {
		margin-right: 0px;
	}
	
}

@media (max-width: 800px) {
	main {
		padding: 0px 0px;
		margin-left: 0px;
	}
	body {
		margin-left: 0px;
	}
	header {
		display: none;
	}
	.sidebarwrap {
		display: none;
	}
	.buttonsmheader {
		display: flex;
	}
	.wplaylists{
		margin-top: 0px;
	}
	.playlists {
		margin-top: 10px;
	}
	.playlistcard {
		margin-right: 20px;
		margin-bottom: 18px;
		padding: 15px;
	}
	.playlistname {
		font-size: 14px;
	}
	.playlistdetails {
		font-size: 12px;
	}
	#playlistscroll{
		margin-left: -18px;
		margin-right: -18px;
	}
	.abplaylistimg {
		
		left: 12px;
		
	}
	.playlistplaybtn {
		display: none;
	}
	.wwish {
		margin-left: 18px;
		font-size: 20px;
		
	}
	.wplaylistcard {
		height: 60px;
	}
	.wplaylistplaybtn {
		display: none;
	}
	.wish {
		margin-left: 18px;
		font-size: 20px;
	}
	.wplaylistcard {
		padding: 0px;
	}
	.fplaylistcard {
		margin-left: 36px;
	}
	.wplaylists {
		margin-left: 18px;
	}
	.wwish {
		margin-left: 0px;
		flex: 1;
	}
}
@media (max-width: 700px) {
	#desktopfooter {
		display: none;
	}
	#mobilefooter {
		display: flex;
	}
}

@media (max-width: 600px) {
	.opapwplaylistcardwrap {
		display: flex;
	}
	
	.opwplaylistcard,
	.apwplaylistcard {
		display: none;
	}
	.wplaylists{
		width: auto;
		margin-top: 0px;
	}
	.playlists {
		margin-bottom: 10px;

	}
	.playlistcard {
		box-shadow: none;
		background: transparent;
		margin-right: 20px;
		margin-left: 0px;
		margin-bottom: 18px;
		padding: 0px;
	}
	.playlistimg  {
		border-radius: 0px;
		box-shadow: none;
	}
	.playlistdetails {
		font-size: 13px;
	}
	.abplaylistimg {
		left: 12px;
		
	}
	.playlistplaybtn {
		display: none;
	}
	.wplaylistcard {
		background-color: rgba(255, 255, 255, 0.071);
		height: 60px;
	}
	.wplaylistplaybtn {
		display: none;
	}
	.wish {
		font-size: 20px;
		
	}
	.artistscard {
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.artistimg {
		border-radius: 100px;
	}
	.wplaylistcard {
		padding: 0px;
	}
	.abplaylistimg {
		display: none;
	}
	.fplaylistcard {
		margin-left: 36px;
	}
	.playlistcard:hover {
		background-color: transparent;
	}
	.songnamem {
		font-size: 12px;
	}
	.artistnamem {
		font-weight: 400;
	}
	#devicesm {
		font-size: 22px;
	}
	#playm {
		font-size: 30px;
	}
	.hometextm,
	.searchtextm,
	.libtextm {
		font-size: 10px;
	}
	.wplaylistcard {
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.playlistname {
		margin-top: 12px;
	}
	.playlistdetails {
		font-size: 12px;
	}
	.wplaylistname {
		font-size: 12px;
		margin: 0px;
		margin-left: 10px;
	}
	.wish {
		margin: 20px 0px;
		margin-left: 18px;
		font-size: 18px;
	}
	.wwish {
		margin: 0px;
	}
	.awish {
		margin: 10px;
		margin-left: 18px;
	}
	.opapwplaylistcardwrap {
		display: none;
	}
}
@media (max-width: 470px) {
		
		main {
			padding-right: 0px;
		}
		.playlistcard {
			width: 156px;
			background-color: transparent;
			margin-right: 17px;
			height: 240px;
		}
		.playlistdetails {
			font-size: 11px;
			width: 100%;
		}
		.playlistname {
			font-size: 12px;
			width: 100%;
			white-space: nowrap;
			margin-top: 15px;
			margin-bottom: 6px;
		}
		.wish {
			font-size: 16px;
			margin-top: 10px;
			margin-bottom: 18px;
		}
		.podplaylistimg {
			border-radius: 12px;
		}
		.wplaylists {
			margin-top: 20px;
		}
		.wwish {
			font-size: 19px;
		}
		.playlistimg {
			width: 150px;
		}
		.wplaylistimg {
			width: auto;
		}
		.wplaylistname {
			font-size: 1px;
		}
		.wplaylistcard {
			width: 100%;
			background-color: rgba(255, 255, 255, 0.071);
			height: 50px;
			overflow: hidden;
			margin-bottom: 8px;
			overflow: hidden;
		}
		.wplaylistname {
			font-size: 12px;
			margin: 8px;
		}
		.wplaylistcard:hover {
			background-color: rgba(255, 255, 255, 0.071);
		}
		.playlists {
			overflow-x: hidden;
		}
		.artistscard {
			height: 216px;
		}
	}
